@import "bourbon";

// global settings
$back-color:  #000 !default;
$float-color: #2F2F2F !default;
$content-back-color: #242424 !default;
$front-color: #ddd !default;

// basic css properties
html, body, section, aside { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  background-color: $back-color; 
  color: $front-color; 
}

body > svg { 
  display: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
} 

// global mixins, placeholders
%layout {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}

%center {
  align-items: center;
  justify-content: center;
}