doctype html
html(lang="zh-cmn-Hans")
  head
    title Spring Boot Monitor
    link(rel="stylesheet", href="#{context}/monitor.css" ) 
  body
    include /symbol/svg/sprite.symbol.svg
    #monitor
    script(src="#{context}/monitor.bundle.js")  