<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<title>用户登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- CSS -->

<link rel="stylesheet" href="css/supersized.css" th:href="@{/css/supersized.css}">
<link rel="stylesheet" href="css/login.css" th:href="@{/css/login.css}">
<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="js/html5.js" th:src="@{/js/html5.js}"></script>
<![endif]-->
<script src="js/jquery-1.8.2.min.js" th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript" src="js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
<script type="text/javascript" src="js/tooltips.js" th:src="@{/js/tooltips.js}"></script>
<script type="text/javascript" src="js/login.js" th:src="@{/js/login.js}"></script>
<script type="text/javascript" src="js/md5.js" th:src="@{/js/md5.js}"></script>
<script type="text/javascript" src="js/des.js" th:src="@{/js/des.js}"></script>
</head>

<body>

<div class="page-container">
	<div class="main_box">
		<div class="login_box">
			<div class="login_logo">
				<img src="images/logo.png" >
			</div>
		
			<div class="login_form">
				<form action="index.html" th:action="@{/login}" th:object="${form}" id="login_form" method="post">

					<div class="form-group">
						<label for="email" class="t">邮　箱：</label>
						<input id="email" th:field="*{email}" value="" name="email" type="text" class="form-control x319 in" autocomplete="off">
						<p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}">Incorrect email</p>
					</div>
					<div class="form-group">
						<label for="password" class="t">密　码：</label>
						<input id="password" th:field="*{password}" value="" name="password" type="password" class="password form-control x319 in">
            <p th:if="${#fields.hasErrors('password')}" class="label label-danger" th:errors="*{password}">Incorrect email</p>
					</div>
					<div class="form-group">
						<label for="captcha" class="t">验证码：</label>
						 <input id="captcha" th:field="*{captcha}" name="captcha" type="text" class="form-control x164 in">
						<img id="captcha_img" alt="点击更换" title="点击更换" src="images/captcha.jpeg" th:src="@{/captcha}" class="m">
            <p th:if="${#fields.hasErrors('captcha')}" class="label label-danger" th:errors="*{captcha}">Incorrect email</p>
					</div>
					<div class="form-group">
						<label class="t"></label>
						<label for="remember" class="m">
						<input id="remember" type="checkbox" value="true">&nbsp;记住登陆账号!</label>
					</div>
					<div class="form-group space">
						<label class="t"></label>　　　
						<button type="submit"  id="submit_btn" class="btn btn-primary btn-lg">&nbsp;登&nbsp;录&nbsp </button>
						<input type="reset" value="&nbsp;重&nbsp;置&nbsp;" class="btn btn-default btn-lg">
					</div>
				</form>
			</div>
		</div>
		<div class="bottom">Copyright &copy; 2014 - 2015 <a href="#">系统登陆</a></div>
	</div>
</div>

<!-- Javascript -->

<script src="js/supersized.3.2.7.min.js" th:src="@{/js/supersized.3.2.7.min.js}"></script>
<script src="js/supersized-init.js" th:src="@{/js/supersized-init.js}"></script>
<script src="js/scripts.js" th:src="@{/js/scripts.js}"></script>
<div style="text-align:center;">
<p>来源:<a href="http://www.mycodes.net/" target="_blank">STARFOLLOWER</a></p>
</div>
</body>
</html>